In [1]:
import glob # For getting file names
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import pickle
# import seaborn as sns
# import torch

from collections import Counter
# from gap_statistic import OptimalK
from scipy import stats, cluster
from sklearn.cluster import KMeans
# from yellowbrick.cluster import KElbowVisualizer

from utils.clustering_utils import *
from utils.conformal_utils import *
from utils.experiment_utils import *

%load_ext autoreload
%autoreload 2

# Run for CIFAR-100

In [2]:
# # Enron - BERT (n_train=500)
# softmax_path = "../class-conditional-conformal-datasets/notebooks/.cache/email_softmax_bert_ntrain=500.npy"
# labels_path = "../class-conditional-conformal-datasets/notebooks/.cache/email_labels_bert_ntrain=500.npy"
# save_folder = '.cache/paper/enron'

# # ImageNet
# softmax_path = '/home/tding/data/finetuned_imagenet/imagenet_train_subset_softmax.npy'
# labels_path = '/home/tding/data/finetuned_imagenet/imagenet_train_subset_labels.npy'
# save_folder = '.cache/paper/imagenet'

# CIFAR-100
softmax_path = "../class-conditional-conformal-datasets/notebooks/.cache/best-cifar100-model-valsoftmax_frac=0.3.npy"
labels_path = "../class-conditional-conformal-datasets/notebooks/.cache/best-cifar100-model-vallabels_frac=0.3.npy"
save_folder = '.cache/paper/cifar100'
 
# SETTINGS
alpha = .1
n_totalcal_list = [10, 30]
score_function_list = ['softmax', 'APS']
seeds = [0,1,2,3,4]
# seeds = [5,6,7,8,9]

In [3]:
%%time

softmax_scores = np.load(softmax_path)
labels = np.load(labels_path)

run_experiment(softmax_scores, labels,
                  save_folder,
                  alpha=alpha,
                  n_totalcal_list=n_totalcal_list,
                  score_function_list = score_function_list,
                  seeds=seeds)

====== score_function=softmax ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [62, 38]
Heuristic chose n_clustering=5, num_clusters=2
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [62, 38]
Saved results to .cache/paper/cifar100/n_totalcal=10/score=softmax/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [59, 41]
Heuristic chose n_clustering=5, num_clusters=2
p=0.02 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=softmax/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [54, 46]
Heuristic chose n_clustering=5, num_clusters=2
p=0.07 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=softmax/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [62, 38]
Heuristic chose n_clustering=5, num_clusters=2
p=0.39 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=softmax/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [60, 40]
Heuristic chose n_clustering=5, num_clusters=2
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [60, 40]
Saved results to .cache/paper/cifar100/n_totalcal=10/score=softmax/seed=4_allresults.pkl
====== score_function=APS ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [73, 27]
Heuristic chose n_clustering=5, num_clusters=2
p=0.01 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=APS/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [71, 29]
Heuristic chose n_clustering=5, num_clusters=2
p=0.02 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=APS/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [71, 29]
Heuristic chose n_clustering=5, num_clusters=2
p=0.2 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=APS/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [68, 32]
Heuristic chose n_clustering=5, num_clusters=2
p=0.25 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=APS/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [64, 36]
Heuristic chose n_clustering=5, num_clusters=2
p=0.11 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=10/score=APS/seed=4_allresults.pkl
====== score_function=softmax ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [30, 13, 12, 12, 12, 10, 6, 5]
Heuristic chose n_clustering=17, num_clusters=8
p=0.03 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=softmax/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [17, 16, 15, 13, 13, 9, 9, 8]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [17, 16, 15, 13, 13, 9, 9, 8]
Saved results to .cache/paper/cifar100/n_totalcal=30/score=softmax/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [21, 15, 15, 13, 12, 8, 8, 8]
Heuristic chose n_clustering=17, num_clusters=8
p=0.03 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=softmax/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [18, 15, 15, 13, 12, 10, 10, 7]
Heuristic chose n_clustering=17, num_clusters=8
p=0.01 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=softmax/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [22, 18, 15, 15, 12, 9, 6, 3]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [22, 18, 15, 15, 12, 9, 6, 3]
Saved results to .cache/paper/cifar100/n_totalcal=30/score=softmax/seed=4_allresults.pkl
====== score_function=APS ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [26, 19, 17, 12, 8, 7, 6, 5]
Heuristic chose n_clustering=17, num_clusters=8
p=0.42 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=APS/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [21, 20, 19, 16, 8, 8, 7, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.05 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=APS/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [31, 14, 13, 12, 11, 11, 7, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [31, 14, 13, 12, 11, 11, 7, 1]
Saved results to .cache/paper/cifar100/n_totalcal=30/score=APS/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [21, 21, 19, 13, 10, 7, 5, 4]
Heuristic chose n_clustering=17, num_clusters=8
p=0.24 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=APS/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [19, 19, 16, 15, 12, 9, 5, 5]
Heuristic chose n_clustering=17, num_clusters=8
p=0.35 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/cifar100/n_totalcal=30/score=APS/seed=4_allresults.pkl
CPU times: user 58min 2s, sys: 33.6 s, total: 58min 36s
Wall time: 2min 20s

In [4]:
for n_totalcal in n_totalcal_list:
    for score in score_function_list:
        print(f'===== n_totalcal={n_totalcal}, score={score} =====')
        folder = f'{save_folder}/n_totalcal={n_totalcal}/score={score}/'
        average_results_across_seeds(folder)

===== n_totalcal=10, score=softmax =====
Number of seeds found: 5
standard: [4.04928094 3.975753   4.06592026 4.50717269 3.92955592]
classwise: [8.07112284 7.13220062 6.59986122 6.56036531 6.53980779]
smart_cluster: [3.75282051 3.975753   4.06592026 4.50717269 3.73928167]
always_cluster: [3.75282051 3.78908453 4.02357786 4.53812468 3.73928167]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,4.105537,0.231224,6.899212,0.855253
1,classwise,6.980672,0.657282,20.485894,2.475211
2,smart_cluster,4.008190,0.312608,7.335118,1.158747
3,always_cluster,3.968578,0.338657,7.341788,1.306353

===== n_totalcal=10, score=APS =====
Number of seeds found: 5
standard: [3.83693847 3.96744784 3.99328416 4.40276173 4.18277945]
classwise: [7.69427874 7.40853702 5.97480862 6.94259557 7.34057763]
smart_cluster: [3.83693847 3.96744784 3.99328416 4.40276173 4.18277945]
always_cluster: [3.52140521 3.76582948 3.9057276  5.13427473 3.68092228]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,4.076642,0.220198,9.671671,1.206916
1,classwise,7.072160,0.669551,22.925776,2.212882
2,smart_cluster,4.076642,0.220198,9.671671,1.206916
3,always_cluster,4.001632,0.648296,9.818682,1.529527

===== n_totalcal=30, score=softmax =====
Number of seeds found: 5
standard: [4.15912477 4.13407647 4.0904398  4.65323502 4.04727241]
classwise: [4.21575567 4.40299667 4.86350491 5.38431014 3.93398886]
smart_cluster: [4.15912477 3.71767024 4.0904398  4.65323502 3.50053199]
always_cluster: [3.09270034 3.71767024 3.48397774 4.07255324 3.50053199]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,4.216830,0.247665,6.330160,0.481530
1,classwise,4.560111,0.571543,10.785573,1.169926
2,smart_cluster,4.024200,0.443415,6.842160,1.216020
3,always_cluster,3.573487,0.358590,8.074253,0.716892

===== n_totalcal=30, score=APS =====
Number of seeds found: 5
standard: [4.1703334  4.10396431 4.32747197 4.62886246 4.22916603]
classwise: [4.14399804 4.5940954  4.68148962 5.28195875 3.85088216]
smart_cluster: [4.1703334  4.10396431 3.64227269 4.62886246 4.22916603]
always_cluster: [3.46065489 4.29058505 3.64227269 3.9894003  3.60139385]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,4.291960,0.205452,9.341680,1.018323
1,classwise,4.510485,0.547904,13.700547,1.282766
2,smart_cluster,4.154920,0.352057,9.629200,1.267603
3,always_cluster,3.796861,0.337629,10.610387,1.042231

# Run for Enron

In [5]:
# Enron - BERT (n_train=500)
softmax_path = "../class-conditional-conformal-datasets/notebooks/.cache/email_softmax_bert_ntrain=500.npy"
labels_path = "../class-conditional-conformal-datasets/notebooks/.cache/email_labels_bert_ntrain=500.npy"
save_folder = '.cache/paper/enron'

# # ImageNet
# softmax_path = '/home/tding/data/finetuned_imagenet/imagenet_train_subset_softmax.npy'
# labels_path = '/home/tding/data/finetuned_imagenet/imagenet_train_subset_labels.npy'
# save_folder = '.cache/paper/imagenet'

# # CIFAR-100
# softmax_path = "../class-conditional-conformal-datasets/notebooks/.cache/best-cifar100-model-valsoftmax_frac=0.3.npy"
# labels_path = "../class-conditional-conformal-datasets/notebooks/.cache/best-cifar100-model-vallabels_frac=0.3.npy"
# save_folder = '.cache/paper/cifar100'
 
# SETTINGS
alpha = .1
n_totalcal_list = [10, 30]
score_function_list = ['softmax', 'APS']

In [6]:
%%time

softmax_scores = np.load(softmax_path)
labels = np.load(labels_path)

run_experiment(softmax_scores, labels,
                  save_folder,
                  alpha=alpha,
                  n_totalcal_list=n_totalcal_list,
                  score_function_list = score_function_list,
                  seeds=seeds)

====== score_function=softmax ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [94, 15]
Heuristic chose n_clustering=5, num_clusters=2
p=0.04 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=softmax/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [100, 9]
Heuristic chose n_clustering=5, num_clusters=2
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [100, 9]
Saved results to .cache/paper/enron/n_totalcal=10/score=softmax/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [101, 8]
Heuristic chose n_clustering=5, num_clusters=2
p=0.03 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=softmax/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [99, 10]
Heuristic chose n_clustering=5, num_clusters=2
p=0.01 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=softmax/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [98, 11]
Heuristic chose n_clustering=5, num_clusters=2
p=0.01 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=softmax/seed=4_allresults.pkl
====== score_function=APS ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [59, 50]
Heuristic chose n_clustering=5, num_clusters=2
p=0.26 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=APS/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [57, 52]
Heuristic chose n_clustering=5, num_clusters=2
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [57, 52]
Saved results to .cache/paper/enron/n_totalcal=10/score=APS/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [59, 50]
Heuristic chose n_clustering=5, num_clusters=2
p=0.04 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=APS/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [68, 41]
Heuristic chose n_clustering=5, num_clusters=2
p=0.09 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=APS/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=5, num_clusters=2
Cluster sizes: [55, 54]
Heuristic chose n_clustering=5, num_clusters=2
p=0.27 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=10/score=APS/seed=4_allresults.pkl
====== score_function=softmax ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [66, 24, 11, 2, 2, 2, 1, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [66, 24, 11, 2, 2, 2, 1, 1]
Saved results to .cache/paper/enron/n_totalcal=30/score=softmax/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [55, 29, 14, 6, 2, 1, 1, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [55, 29, 14, 6, 2, 1, 1, 1]
Saved results to .cache/paper/enron/n_totalcal=30/score=softmax/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [77, 19, 5, 3, 2, 1, 1, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [77, 19, 5, 3, 2, 1, 1, 1]
Saved results to .cache/paper/enron/n_totalcal=30/score=softmax/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [67, 22, 5, 5, 4, 3, 2, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [67, 22, 5, 5, 4, 3, 2, 1]
Saved results to .cache/paper/enron/n_totalcal=30/score=softmax/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [53, 30, 13, 7, 2, 2, 1, 1]
Heuristic chose n_clustering=17, num_clusters=8
p=0.0 for one cluster null hypothesis, so running Clustered Conformal
Cluster sizes: [53, 30, 13, 7, 2, 2, 1, 1]
Saved results to .cache/paper/enron/n_totalcal=30/score=softmax/seed=4_allresults.pkl
====== score_function=APS ======
Computing conformal score...

seed=0
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [18, 18, 16, 15, 15, 13, 11, 3]
Heuristic chose n_clustering=17, num_clusters=8
p=0.05 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=30/score=APS/seed=0_allresults.pkl

seed=1
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [22, 18, 15, 14, 13, 11, 9, 7]
Heuristic chose n_clustering=17, num_clusters=8
p=0.02 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=30/score=APS/seed=1_allresults.pkl

seed=2
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [19, 17, 16, 15, 14, 13, 8, 7]
Heuristic chose n_clustering=17, num_clusters=8
p=0.13 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=30/score=APS/seed=2_allresults.pkl

seed=3
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [24, 17, 16, 14, 12, 12, 7, 7]
Heuristic chose n_clustering=17, num_clusters=8
p=0.15 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=30/score=APS/seed=3_allresults.pkl

seed=4
Heuristic chose n_clustering=17, num_clusters=8
Cluster sizes: [25, 15, 15, 15, 13, 11, 11, 4]
Heuristic chose n_clustering=17, num_clusters=8
p=0.01 for one cluster null hypothesis, so running Standard Conformal
Saved results to .cache/paper/enron/n_totalcal=30/score=APS/seed=4_allresults.pkl
CPU times: user 1h 9min 48s, sys: 1min 50s, total: 1h 11min 39s
Wall time: 12min 41s

In [7]:
for n_totalcal in n_totalcal_list:
    for score in score_function_list:
        print(f'===== n_totalcal={n_totalcal}, score={score} =====')
        folder = f'{save_folder}/n_totalcal={n_totalcal}/score={score}/'
        average_results_across_seeds(folder)

===== n_totalcal=10, score=softmax =====
Number of seeds found: 5
standard: [1.85560034 1.8320868  2.13012773 1.88203905 1.83087591]
classwise: [6.87026514 7.76993208 6.66069717 6.5959813  7.09698198]
smart_cluster: [1.85560034 2.24384209 2.13012773 1.88203905 1.83087591]
always_cluster: [2.66161512 2.24384209 2.42783883 1.90148863 2.19174841]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,1.906146,0.126939,41.523726,1.287926
1,classwise,6.998772,0.473651,54.080526,3.038402
2,smart_cluster,1.988497,0.186480,42.360548,1.513678
3,always_cluster,2.285307,0.282715,42.416745,3.294187

===== n_totalcal=10, score=APS =====
Number of seeds found: 5
standard: [2.0149094  1.78967831 2.03102119 2.03690646 1.84790148]
classwise: [7.48639455 7.24345114 6.11292586 6.94405033 6.82648678]
smart_cluster: [2.0149094  1.92798223 2.03102119 2.03690646 1.84790148]
always_cluster: [2.90348352 1.92798223 2.79468741 2.10091047 2.46440102]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,1.944083,0.116493,43.223508,1.152523
1,classwise,6.922662,0.521076,56.349869,2.892184
2,smart_cluster,1.971744,0.081968,43.216523,1.165387
3,always_cluster,2.438293,0.423776,42.831596,5.045335

===== n_totalcal=30, score=softmax =====
Number of seeds found: 5
standard: [1.82304012 1.88742239 1.82833848 1.85165883 1.87218329]
classwise: [4.44511897 3.80299738 3.73698636 3.52994478 4.2940499 ]
smart_cluster: [2.41638165 2.35487307 2.27669727 2.0776066  2.47031044]
always_cluster: [2.41638165 2.35487307 2.27669727 2.0776066  2.47031044]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,1.852529,0.027656,40.526348,0.891728
1,classwise,3.961819,0.389309,45.106077,1.438274
2,smart_cluster,2.319174,0.153073,41.721836,2.080768
3,always_cluster,2.319174,0.153073,41.721836,2.080768

===== n_totalcal=30, score=APS =====
Number of seeds found: 5
standard: [1.87125982 1.84623431 1.79946175 1.81655259 1.83316198]
classwise: [4.37570468 3.85081606 3.76405284 3.70607744 3.87556453]
smart_cluster: [1.87125982 1.84623431 1.79946175 1.81655259 1.83316198]
always_cluster: [2.96280657 2.29434925 2.07266107 2.31688766 2.22733124]

,method,class_cov_gap_mean,class_cov_gap_se,avg_set_size_mean,avg_set_size_se
0,standard,1.833334,0.027540,41.554052,0.960803
1,classwise,3.914443,0.266625,47.019755,1.509452
2,smart_cluster,1.833334,0.027540,41.554052,0.960803
3,always_cluster,2.374807,0.342277,43.188485,2.946551